*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body{
    color: #333;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 9%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100px;
}

.logo{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600px;
}

nav .cart-icon{
    position: relative;
    font-size: 30px;
    color: #333;
    display: flex;
}

nav .cart-icon .cart-item-count{
    position: absolute;
    top: 0;
    right:-6px;
    width: 20px;
    height: 20px;
    background: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    display: none;
}

.porduct-collection{
    padding: 100px 9% 30px;
}

.porduct-collection h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600px;
}

.porduct-collection .porduct-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.porduct-collection .img-box{
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.porduct-collection .img-box img{
    width: 100%;
    transition: 0.5s;
}

.porduct-collection .img-box:hover img{
    transform: scale(1.1);
}
.porduct-collection .title{
    font-size: 18px;
    font-weight: 400px;
    margin-top: 10px;
}

.porduct-collection .price{
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

.porduct-detail{
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    gap: 40px;
    padding: 130px 9% 30px;
}

.porduct-detail .product-img{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 12px;
    height: 550px;
}

.porduct-detail .product-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.porduct-detail .thumbnail-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.porduct-detail .thumbnail-list img{
    height: calc(100% / 4- 9px);
    cursor: pointer;
}

.porduct-detail .title{
    font-weight: 600px;
    line-height: 1;
    margin-bottom: 8px;
}

.porduct-detail .rating i{
    color: #e35f26;
}

.porduct-detail .price{
    display: block;
    font-size: 25px;
    font-weight: 600px;
    margin: 20px 0;
}

.porduct-detail :is(.size-selection, .color-selection){
    margin: 20px 0;
}

.porduct-detail :is(.size-selection p, .color-selection p){
    margin-bottom: 10px;
}

.porduct-detail :is(.size-options, .color-options){
    display: flex;
    gap: 10px;
}

.porduct-detail .size-options button{
    width: 45px;
    height: 45px;
    background: #f2f2f2;
    border: 2px solid transparent;
    cursor: pointer;
}

.porduct-detail .color-options img{
    width: 75px;
    height: 75px;
    border: 2px solid transparent;
    cursor: pointer;
}

.porduct-detail :is(.size-options .selected, .color-options .selected){
    border-color: #999;
}

.btn{
    padding: 12px 50px;
    background: #222;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.porduct-detail .product-policy{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.porduct-detail .product-policy p{
    margin: 3px 0;
}